.debug{
  background: rgba(255, 0, 0, 0.3);
  border: 1px dashed black;
  min-height: 50px;
}

img{
  max-width: 100%;
  object-fit: cover;
}

header{
  background: #2C3E50;
  height: 80px;
  color: white;
}

.title {
  font-size: calc(100% + 1.5vw);
}

.ms-btn{
  border: 1px solid white;
}

.ms-line{
  height: 3px;
  border-radius: 3px;
}

.ms-star-w .ms-line{
  background: white;
}

.ms-star-b .ms-line{
  background: black;
}

main section:nth-child(odd){
  background: #1ABC9C;
  color: white;
}

.ms-card{
  cursor: pointer;
}

/* .ms-overlay{
  background: blue;
} */

.ms-info{
  background: #3A546D;
}

.ms-copyright{
  background: #2C3E50;
}

