.debug{
  background: rgba(255, 0, 0, 0.3);
  border: 1px dashed black;
  min-height: 50px;
}

header{
  background: #2C3E50;
  height: 80px;
}

.ms-container{
  max-width: 1160px;
  margin: 0 auto;
}

main section:nth-child(odd){
  background: #1ABC9C;
  /* height: 490px; debug purpose */
  color: white;
}

.ms-info{
  background: #3A546D;
}

.ms-copyright{
  background: #2C3E50;
}

